# Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*.local

# Logs
*.log
logs/

# OS
.DS_Store

# IDE
.vscode/

# Backend (NestJS + Prisma)
/backend/node_modules/
/backend/dist/
/backend/.next/
/backend/.cache/
/backend/coverage/
/backend/.nyc_output/
/backend/.prisma/client
/backend/.env
/backend/.env.local
/backend/npm-debug.log

# Prisma local DB (if used)
/prisma/dev.db
/backend/prisma/dev.db
